<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Tek_Bilisim_Servis_Programı_v1._0._0.Properties.Settings.firmalar_kaydiConnectionString" connectionString="Data Source=NIRVANA\SQLEXPRESS;Initial Catalog=firmalar_kaydi;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
